* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.container {
    max-width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: pink;
}

